
# from dex-reader
#d2j-dex-asmifier=com.googlecode.dex2jar.util.ASMifierFileV
#d2j-dex-dump=com.googlecode.dex2jar.util.Dump

# from dex-tool
d2j-dex2jar=com.googlecode.dex2jar.tools.Dex2jarCmd
d2j-jar2dex=com.googlecode.dex2jar.tools.Jar2Dex
#d2j-asm-verify=com.googlecode.dex2jar.tools.AsmVerify
d2j-jar2jasmin=com.googlecode.d2j.jasmin.Jar2JasminCmd
d2j-jasmin2jar=com.googlecode.d2j.jasmin.Jasmin2JarCmd

d2j-apk-sign=com.googlecode.dex2jar.tools.ApkSign

#d2j-init-deobf=com.googlecode.dex2jar.tools.DeObfInitCmd
#d2j-jar-remap=com.googlecode.dex2jar.tools.JarRemap
#d2j-jar-access=com.googlecode.dex2jar.tools.JarAccessCmd
d2j-decrypt-string=com.googlecode.dex2jar.tools.DecryptStringCmd
d2j-smali=com.googlecode.d2j.smali.SmaliCmd
d2j-baksmali=com.googlecode.d2j.smali.BaksmaliCmd
d2j-dex2smali=com.googlecode.d2j.smali.BaksmaliCmd
#d2j-dex-remap=com.googlecode.dex2jar.tools.DexRemapCmd


d2j-dex-recompute-checksum=com.googlecode.dex2jar.tools.DexRecomputeChecksum
d2j-std-apk=com.googlecode.dex2jar.tools.StdApkCmd

d2j-dex-weaver=com.googlecode.dex2jar.tools.DexWeaverCmd
d2j-jar-weaver=com.googlecode.dex2jar.tools.JarWeaverCmd

d2j-class-version-switch=com.googlecode.dex2jar.tools.ClassVersionSwitch

#EOF
