<configuration>
	<!--
		<substitutionProperty name="log.base" value="target/logs/dex2jar" />
	-->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<!-- %d{HH:mm:ss.SSS} %-5level %logger{30} - %msg%n -->
			<Pattern>
			<![CDATA[%d{HH:mm:ss.SSS} %-5level %logger{30} - %msg%n]]>
			</Pattern>
		</layout>
	</appender>
	<!--	<appender name="logfile"-->
	<!--		class="ch.qos.logback.core.rolling.RollingFileAppender">-->
	<!--		<Encoding>UTF-8</Encoding>-->
	<!--		<File>${log.base}.log</File>-->
	<!--
		<rollingPolicy
		class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	-->
	<!--
		<FileNamePattern><![CDATA[${log.base}.%d{yyyy-MM-dd}.log.zip]]></FileNamePattern>
	-->
	<!--		</rollingPolicy>-->
	<!--		<layout class="ch.qos.logback.classic.PatternLayout">-->
	<!--			<pattern><![CDATA[%msg%n]]></pattern>-->
	<!--		</layout>-->
	<!--	</appender>-->
	<logger name="pxb.android.dex2jar.dump" level="INFO">
		<!--		<appender-ref ref="logfile" />-->
	</logger>
	<logger name="pxb.android.dex2jar.v3" level="ERROR" />
	<logger name="pxb.android.dex2jar.reader" level="INFO" />
	<logger name="pxb.android.dex2jar.optimize" level="DEBUG" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>